{{ template "_internal/google_analytics.html" . }}
<script src="{{ "fancybox/jquery.fancybox.pack.js" | absURL }}"></script>
<script src="{{ "js/script.js" | absURL }}"></script>

{{ range .Site.Params.custom_js }}
<script src="{{ . | absURL }}"></script>
{{ end }}

{{ if not .Site.Params.disable_mathjax }}
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {
    inlineMath: [['$','$'], ['\\(','\\)']]}
  });
</script>
{{ $mathjax := resources.Get "mathjax/MathJax.js" | resources.Fingerprint "sha512" }}
<script src="{{ $mathjax.Permalink }}?config=TeX-AMS-MML_HTMLorMML" integrity="{{ $mathjax.Data.Integrity }}"></script>
{{ $mathmenu := resources.Get "mathjax/extensions/MathMenu.js" | resources.Fingerprint "sha512" }}
<script src="{{ $mathmenu.Permalink }}" integrity="{{ $mathmenu.Data.Integrity }}"></script>
{{ $mathzoom := resources.Get "mathjax/extensions/MathZoom.js" | resources.Fingerprint "sha512" }}
<script src="{{ $mathzoom.Permalink }}" integrity="{{ $mathzoom.Data.Integrity }}"></script>
{{ end }}
